<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="lexStore.Local" connectionString="Server=DEVELOPER-PC;Database=goMarket;User ID=probit;Password=temporal;" />
    <!--<add name="lexStore.Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=FNHMVC;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />-->

    <add name="FNHMVCContainer" connectionString="Server=c253a904-eb36-42c7-964b-a1ce00465ebb.sqlserver.sequelizer.com;Database=dbc253a904eb3642c7964ba1ce00465ebb;User ID=emhufymueirlpezn;Password=uQJojLztKp48jV6SttCfsPYCJPw4KKf5yw4cFMbFe6m5dEMxx7hrNYoNZgLCoERa;" />
  </connectionStrings>
</configuration>