@{
    Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}

<h2>        
    Su contraseña ha sido cambiada con éxito.
</h2>

@Html.ActionLink("Volver", "MyAccount", "Account", new { @class = "btn" })