@model FNHMVC.Web.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}
     

    <div class="auth-form">
        @using (@Html.BeginForm("ForgotPassword","Account",FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="auth-form-header">
                <strong>Olvide mi contraseña</strong>
            </div>
            <div class="auth-form-body">
                <div class="control-group">
                    <div class="controls">
                        @Html.TextBoxFor(x => x.Email, new {@class = "input-block-level", @placeholder = "Correo"})
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
                    </div>
                </div>
                
                <button class="btn btn-large btn-primary" type="submit">Recuperar</button>
            </div>
        }
    </div>
