
@{
    Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}
@{
    ViewBag.Title = "Resumen de Compra";
}

@Html.ActionLink("Volver al carrito", "Index","Cart")

<legend>
    <div style="text-align: center;">
        <h2>La transación de pago ha sido cancelada.</h2>
    </div>
</legend>