<div class="alert alert-info">

    <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />

        </div>
        <br />
        <input class="span3" id="UrlImage" name="UrlImage" placeholder="Direccion imagen" type="text">

        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
        <div>
            <span class="btn btn-file"><span class="fileupload-new">Seleccionar</span><span class="fileupload-exists">Cambiar</span><input type="file" /></span>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Eliminar</a>
        </div>
    </div>

</div>
